@use 'global' as *;

.nav {
    @include margin-padding(5);
    background-color: $primary-color;

    li {
        list-style-type: none;

        a {
            text-decoration: none;
            font-size: $font-md;
            color: $tertiary-color;

            &:hover {
                color: $secondary-color;
            }
        }
    }
}