@use 'global' as *;

.banner {
    @include margin-padding(3);
    h1 {
        font: {
            size: $font-lg;
            weight: 700;
            family: Arial, sans-serif;
        }
        color: $secondary-color;
        text: {
            text-align: center;
            text-transform: uppercase;
        }
    }
}